@page "/cerrarsesion"
@* @rendermode InteractiveServer *@

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body flex-column">
				<div class="text-center">
				</div>
				<div class="text-center mt-2">
					<span class="text-danger fw-bolder">Has cerrado sesión, ¡vuelve pronto!</span>
				</div>
				<input class="btn btn-dark" value="Volver a inicio" />
			</div>
		</div>
	</div>
</div>
