@page "/iniciarsesion"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" Title=@ModalTitulo Message=@ModalMensaje>
	<BodyTemplate>
		
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Primary" @onclick="CerrarModal">Cerrar</Button>
	</FooterTemplate>
</Modal>


<div class="titulo">
	<h2>Iniciar sesión</h2>
</div>

<EditForm Model="@usuario" OnValidSubmit="InicioSesion">
	<DataAnnotationsValidator />

	<article class="forminiciarsesion">

	<div class="form-group">
		<label>Nombre de usuario: </label>
		<InputText class="form-control" @bind-Value="usuario.NombreUsuario" required />
	</div>

	<div class="form-group">
		<label>Contraseña: </label>
		<InputText type="password" class="form-control" @bind-Value="usuario.Contrasena" required />
	</div>

	<div>
			<input type="submit" class="btn btn-dark" value="Iniciar sesion" />
	</div>

	</article>

	<ValidationSummary />
</EditForm>

<p>¿No tienes cuenta? <a href="registrarusuario">¡Regístrate!</a></p>

