.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.contenido {
    background-color: cornsilk;
}

.sidebar {
    background-color: #F2F2F2;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.opciones {
    display: flex;
    justify-content: space-evenly;
}

.opciones div {
    padding-left: 20px;
}

footer {
    background-color: #023535;
    color: azure;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: none;
    color: azure;
}
  
header a:link, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: black;
}

.circulo {
    display: inline-block;
    background-color: lavenderblush;
    color: darkcyan;
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 50px; /* set to same size as width, height */
    width: 50px;
    height: 50px;
    text-align: center;
}

.boton {
    border-radius: 5px;
    background-color: gainsboro;
    padding: 5px 10px;
}

.ocultar {
    display: none;
}


