@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">APP</a>
    </div>
</div>
 *@
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="columna">
        <div>
            <a href="counter">
                <p>Perfil</p>
            </a>
        </div>
        <hr>
        <div>
            <a href="weather">
                <p>Cuenta</p>
            </a>
        </div>
        <hr>
        <div>
            <a href="weather">
                <p>Préstamos</p>
            </a>
        </div>
        <hr>
        <div>
            <a href="weather">
                <p>Depósitos</p>
            </a>
        </div>
        <hr>
        <div>
            <a href="weather">
                <p>Retiros</p>
            </a>
        </div>
        <hr>
        <div>
            <a href="weather">
                <p>Transferencias</p>
            </a>
        </div>
        <hr>
    </nav>
</div>

