


.bienvenido {
    display: flex;
    justify-content: flex-end;
}

.titulo {
    display: flex;
    justify-content: center;
    background-color: #008f8c;
    color: white;
    margin: 10px 0px 30px 0px;
    padding: 10px;
}

    .titulo h2 {
        margin: 0px;
    }

article {
    margin: 40px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    article h3 {
        align-self: center;
    }
