@page "/registrarusuario"
@rendermode InteractiveServer

<div class="titulo">
	<h2>Regístrate</h2>
</div>

<Modal @ref="modal" IsVerticallyCentered="true">
	<BodyTemplate>
		
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Primary" @onclick="CerrarModal" >Cerrar</Button>
	</FooterTemplate>
</Modal>

<EditForm Model="@modeloRegistrarUsuario" OnValidSubmit="Registrar" Title=@modalTitulo Message=@modalMensaje>
	<DataAnnotationsValidator />
	<article class="formregistrar">
		<div>
			<div class="form-group">
				<label>Cedula: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Cedula" />
			</div>

			<div class="form-group">
				<label>Nombre: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Nombre" />
			</div>

			<div class="form-group">
				<label>Apellido: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Apellido" />
			</div>

			@* <div class="form-group">
				<label>Cedula: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Cedula" />
			</div> *@

			<div class="form-group">
				<label>Correo: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Correo" />
			</div>

			<div class="form-group">
				<label>Fecha nacimiento: </label>
				<DateInput class="form-control" @bind-Value="@modeloRegistrarUsuario.FechaNacimiento" />
			</div>
		</div>

		<div>
			

			<div class="form-group">
				<label>Telefono: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Telefono" />
			</div>

			<div class="form-group">
				<label>Direccion: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Direccion" />
			</div>

			<div class="form-group">
				<label>Nombre usuario: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.NombreUsuario" />
			</div>

			<div class="form-group">
				<label>Contraseña: </label>
				<InputText class="form-control" @bind-Value="modeloRegistrarUsuario.Contrasena" />
			</div>

			<div>
				<input type="submit" class="btn btn-dark" value="Registrar" />
			</div>
		</div>
	</article>

	<ValidationSummary />
</EditForm>

<p>¿Ya tienes cuenta? <a href="iniciarsesion">¡Inicia sesión!</a></p>

