@page "/pagos/{idcuota:int}"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" ShowCloseButton="false" />

@if (NombreCliente == "")
{
	<hr>
	<div class="d-flex justify-content-center">
		<p><em>Cargando datos...</em></p>
		<Spinner Type="SpinnerType.Border" Class="ms-auto" Color="SpinnerColor.Success" Size="SpinnerSize.ExtraLarge" />
	</div>
	<hr>
}

<div class="bienvenido">
<h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
    <h2>Información detallada sobre el préstamo
    </h2>
</div>


<EditForm Model="@ModeloPagarCuota" OnValidSubmit="Pagar">
	<DataAnnotationsValidator />

	<article class="formpagar">

		<div class="form-group">
			<label>Cuenta identificador: </label>
			<InputText class="form-control" @bind-Value="ModeloPagarCuota.CuentaIdentificador" readonly />
		</div>

		<div class="form-group">
			<label>Id de la cuota a pagar: </label>
			<InputText class="form-control" @bind-Value="ModeloPagarCuota.CuotaId" readonly />
		</div>

		<div class="form-group">
			<label>Monto total del pago: </label>
			<InputText class="form-control" @bind-Value="ModeloPagarCuota.MontoTotal" readonly />
			
		</div>
		<div class="form-group">
			<label>Id del préstamo correspondiente: </label>
			<InputText class="form-control" @bind-Value="ModeloPagarCuota.PrestamoId" readonly />
		</div>

		<div>
			<input type="submit" class="btn btn-dark" value="Pagar" />
		</div>

	</article>

	<ValidationSummary />
</EditForm>


 
