@page "/transferencia"
@rendermode InteractiveServer

<p>Bienvenido usuario</p>
<h3>Transferencias</h3>

<fieldset>
    <label for="cuenta">Cuenta: </label>
    <input id="cuenta" type="text"><br>
    <label for="saldo">Saldo disponible: </label>
    <input id="saldo" type="text">        
</fieldset>

<EditForm Model="@transferencia" OnValidSubmit="@Transferir">
    <DataAnnotationsValidator/>
    <div>
        <label for="CuentaRecipiente">Cuenta recipiente: </label>
        <InputText id="CuentaRecipiente" @bind-Value="transferencia.CuentaRecipiente"/>
    </div>
    <div>
        <label for="Monto">Monto a transferir: </label>
        <InputNumber id="Monto" @bind-Value="transferencia.Monto"/>
    </div>
    <div>
        <label for="Descripcion">Descripción: </label>
        <InputText id="Descripcion" @bind-Value="transferencia.Descripcion"/>
    </div>
    <div>
        <button type="submit"></button>
    </div>
</EditForm>