@page "/solicitarprestamo"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" ShowCloseButton="false" />

@if (NombreCliente == "")
{
    <hr>
    <div class="d-flex justify-content-center">
        <p><em>Cargando datos...</em></p>
        <Spinner Type="SpinnerType.Border" Class="ms-auto" Color="SpinnerColor.Success" Size="SpinnerSize.ExtraLarge" />
    </div>
    <hr>
}


<div class="bienvenido">
    <h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
    <h2>Solicitud de préstamo</h2>
</div>



<EditForm Model="@prestamo" OnValidSubmit="Solicitar">
    <DataAnnotationsValidator />
    <article class="formdatosprestamo">
        <div class="form-group">
            <label for="Sueldo">Sueldo mensual de tu trabajo: </label>
            <InputNumber class="form-control" name="Sueldo" id="Sueldo" @bind-Value="Sueldo" min="0" placeholder="100" required />
        </div>
        <div class="form-group">
            <label for="Monto">Monto a prestar: </label>
            <InputNumber class="form-control" id="Monto" @bind-Value="prestamo.MontoTotal" min="0" placeholder="40" required />
        </div>
        <div class="form-group">
            <label for="Plazos">Cantidad de cuotas deseadas: </label>
            <InputNumber class="form-control" id="Plazos" @bind-Value="prestamo.NumeroCuotas" min="0" placeholder="13" required />
        </div>


        <div class="form-group">
            <label for="Empleo">Tiempo de empleo (meses): </label>
            <InputNumber class="form-control" name="Empleo" id="Empleo" @bind-Value="Empleo" min="0" placeholder="13" required />
        </div>
    </article>

    <article class="separacion">
        <div class="form-group">
            <label for="Identidad">Documento de identidad: </label>
            <input type="file" accept="image/*" id="Identidad" @ref="IdentidadFile" @onchange="async () => await CargarIdentidad()" />
        </div>
        <div class="form-group">
            <label for="Trabajo">Constancia de trabajo y sueldo: </label>
            <input type="file" accept="image/*" id="Trabajo" @ref="TrabajoFile" @onchange="async () => await CargarTrabajo()" />
        </div>
    </article>
    <div class="boton inputspinner">
            <button type="submit" class="btn btn-dark">Hacer solicitud</button>
            <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Success" Visible="@spinnerVisible" Size="SpinnerSize.ExtraLarge" />
        </div>

    <ValidationSummary />
</EditForm>
