.rojo {
    color: red;
}

h3 {
    text-align: center;
    color: salmon;
    padding-top: 10px;
}

div {
    padding: 5px;
}

hr {
    color: black;
}

.boton {
    text-align: right;
}

.separacion {
    padding-top: 20px;
}

.separacion div {
    padding: 5px;
}

.boton button {
    background-color: darkslategray;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}



.bienvenido {
    display: flex;
    justify-content: flex-end;
}
/**/
h3 {
    color: aliceblue;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}


.titulo {
    display: flex;
    justify-content: center;
    background-color: #008f8c;
    color: white;
    margin: 10px 0px 30px 0px;
    padding: 10px;
}

    .titulo h2 {
        margin: 0px;
    }



.formdatosprestamo {
    margin: 5px 0 1px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
}

    .formdatosprestamo .form-group {
        width: 20vw;
    }