@page "/inicio"
@rendermode InteractiveServer

<section class="banner">
    @* <div>
        <p>Obtén la tranquilidad </p>
        <p>de saber que que tu dinero </p>
        <p>es manejado por </p>
        <p>expertos.</p>
    </div> *@
    <div class="imagen">
        <p>
            Obtén la tranquilidad <br>
            de saber que que tu dinero <br> 
            es manejado por <br>
            expertos. 
        </p>
        <img src="imgs/image1.png" />
    </div>
    <div class="flecha">
        <a href="">
            <img width="30" src="imgs/image6.png" />
        </a>
    </div>
</section>

@* <div class="titulo">
	<h2>Bienvenido a B Banco "¡Tu banco de confianza!"</h2>
</div>

<section class="banner">
	<img src="imgs/img2.png" />
</section>



<h2 class="hinfo">Misiones y Valores</h2>
<section class="info">
    
    <img class="imagen-seccion" src="imgs/k.png">
    <p>En Banco "B Banco", estamos comprometidos con nuestros valores fundamentales de integridad, transparencia y servicio excepcional. Nos esforzamos por proporcionar soluciones financieras confiables y seguras para nuestros clientes.</p>
</section>


    <h2 class="hinfo">Cuenta de Ahorro</h2>
<section class="infoo">
    <img class="imagen-seccion" src="imgs/p.png">
    <p>Nuestra cuenta de ahorro ofrece tasas de interés competitivas y acceso conveniente a tus fondos. Ya sea que estés ahorrando para un objetivo a corto plazo o planificando tu futuro, nuestra cuenta de ahorro te brinda flexibilidad y tranquilidad.</p>
</section>


<h2 class="hinfo">Préstamos</h2>
<section class="info">
    <img class="imagen-seccion" src="imgs/w.png">
    <p>Con nuestros diversos programas de préstamos, podemos ayudarte a alcanzar tus objetivos financieros más importantes. Ya sea que necesites financiamiento para un proyecto personal, educación o compra de vivienda, estamos aquí para ayudarte a dar el siguiente paso.</p>
</section> *@