@page "/inicio"
@rendermode InteractiveServer

<section class="banner">
    @* <div>
        <p>Obtén la tranquilidad </p>
        <p>de saber que que tu dinero </p>
        <p>es manejado por </p>
        <p>expertos.</p>
    </div> *@
    <div class="imagen">
        <p class="colorado">
            Obtén la tranquilidad <br>
            de saber que que tu dinero <br> 
            es manejado por <br>
            expertos. 
        </p>
        <img class="mayor" src="imgs/image1.png" />
    </div>
    <div class="flecha">
        <a href="">
            <img class="menor" src="imgs/image6.png" />
        </a>
    </div>
</section>

<section class="espacio">
    <img class="todo" src="imgs/img1.png" alt="Nuestro banco">
</section>

<section>
    <div class="bancoTitulo">
        <h1>B BANCO ¡TU BANCO DE CONFIANZA!</h1>
    </div>
    <div class="trio">
        <div class="suave">
            <div class="ejemplo">
                <img src="imgs/image2.png" alt="">
            </div>
            <div>
                <p>Cuentas de ahorro</p>
                <p>Para toda la familia.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
        <div class="neutro">
            <div class="ejemplo">
                <img src="imgs/image3.png" alt="">
            </div>
            <div>
                <p>Préstamos al alcanze de todos</p>
                <p>Cuotas a tu comodidad.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
        <div class="fuerte">
            <div class="ejemplo">
                <img src="imgs/image5.png" alt="">
            </div>
            <div>
                <p>Seguridad</p>
                <p>Con los mejores protocolos de seguridad.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="espacio">
    <img class="todo" src="imgs/img2.png" alt="Nuestro banco">
</section>

<section>
    <div class="bancoTitulo">
        <h1>Testimonios de clientes</h1>
    </div>
    <div class="tabla">
        <div>
            <div>
                <p class="tituloTabla">NICOLAS ESCOBAR</p>
            </div>
            <div>
                <p>
                    ¡Increíble servicio al cliente! Siempre están dispuestos a 
                    ayudar y resolver cualquier problema que tenga con mis 
                    cuentas. ¡Gracias por hacer que la banca sea fácil y 
                    conveniente!
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="tituloTabla">MIGUEL BOLIVAR</p>
            </div>
            <div>
                <p>
                    Estoy muy impresionado con la rapidez y eficiencia con la 
                    que el banco resuelve mis solicitudes de préstamos. 
                    ¡Realmente se preocupan por sus clientes y hacen todo 
                    lo posible para ayudar!
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="tituloTabla">LUIS VERGARA</p>
            </div>
            <div>
                <p>
                    El equipo del banco siempre ha sido muy profesional y 
                    amable en todas mis interacciones con ellos. Me siento 
                    valorado como cliente y aprecio el esfuerzo que ponen 
                    en proporcionar un excelente servicio en todo momento.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="explicacion">
    <div>
        <img src="imgs/image4.png" alt="">
    </div>
    <div>
        <p>
            Experimentación, compromiso y valor. Es nuestra misión brindarlos constantemente a nuestros clientes.
        </p>
    </div>
    <div>
        <p>
            ΚΑΙ - ARTURO DIRECTOR EJECUTIVA
        </p>
    </div>
</section>

@* <div class="titulo">
	<h2>Bienvenido a B Banco "¡Tu banco de confianza!"</h2>
</div>

<section class="banner">
	<img src="imgs/img2.png" />
</section>



<h2 class="hinfo">Misiones y Valores</h2>
<section class="info">
    
    <img class="imagen-seccion" src="imgs/k.png">
    <p>En Banco "B Banco", estamos comprometidos con nuestros valores fundamentales de integridad, transparencia y servicio excepcional. Nos esforzamos por proporcionar soluciones financieras confiables y seguras para nuestros clientes.</p>
</section>


    <h2 class="hinfo">Cuenta de Ahorro</h2>
<section class="infoo">
    <img class="imagen-seccion" src="imgs/p.png">
    <p>Nuestra cuenta de ahorro ofrece tasas de interés competitivas y acceso conveniente a tus fondos. Ya sea que estés ahorrando para un objetivo a corto plazo o planificando tu futuro, nuestra cuenta de ahorro te brinda flexibilidad y tranquilidad.</p>
</section>


<h2 class="hinfo">Préstamos</h2>
<section class="info">
    <img class="imagen-seccion" src="imgs/w.png">
    <p>Con nuestros diversos programas de préstamos, podemos ayudarte a alcanzar tus objetivos financieros más importantes. Ya sea que necesites financiamiento para un proyecto personal, educación o compra de vivienda, estamos aquí para ayudarte a dar el siguiente paso.</p>
</section> *@