@page "/inicio"
@rendermode InteractiveServer

<section class="banner">
    <div class="imagen">
        <p class="colorado">
            Obtén la tranquilidad <br>
            de saber que tu dinero <br> 
            es manejado por <br>
            expertos. 
        </p>
        <img class="mayor" src="imgs/image1.png" />
    </div>
    <div class="flecha">
        <a href="">
            <img class="menor" src="imgs/image6.png" />
        </a>
    </div>
</section>

<section class="espacio">
    <img class="todo" src="imgs/img1.png" alt="Nuestro banco">
</section>

<section>
    <div class="bancoTitulo">
        <h1>B BANCO ¡TU BANCO DE CONFIANZA!</h1>
    </div>
    <div class="trio">
        <div class="suave">
            <div class="ejemplo">
                <img src="imgs/image2.png" alt="">
            </div>
            <div>
                <p class="FasePrimera">Cuentas de ahorro</p>
                <p class="FaseSegunda">Para toda la familia.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
        <div class="neutro">
            <div class="ejemplo">
                <img src="imgs/image3.png" alt="">
            </div>
            <div>
                <p class="FasePrimera">Préstamos al alcanze de todos</p>
                <p class="FaseSegunda">Cuotas a tu comodidad.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
        <div class="fuerte">
            <div class="ejemplo">
                <img src="imgs/image5.png" alt="">
            </div>
            <div>
                <p class="FasePrimera">Seguridad</p>
                <p class="FaseSegunda">Con los mejores protocolos de seguridad.</p>
            </div>
            <div>
                <a href="">
                    <img class="interno" src="imgs/image6.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="espacio">
    <img class="todo" src="imgs/img2.png" alt="Nuestro banco">
</section>

<section>
    <div class="bancoTitulo">
        <h1>Testimonios de clientes</h1>
    </div>
    <div class="tabla">
        <div>
            <div>
                <p class="tituloTabla">NICOLAS ESCOBAR</p>
            </div>
            <div>
                <p>
                    ¡Increíble servicio al cliente! Siempre están dispuestos a 
                    ayudar y resolver cualquier problema que tenga con mis 
                    cuentas. ¡Gracias por hacer que la banca sea fácil y 
                    conveniente!
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="tituloTabla">MIGUEL BOLIVAR</p>
            </div>
            <div>
                <p>
                    Estoy muy impresionado con la rapidez y eficiencia con la 
                    que el banco resuelve mis solicitudes de préstamos. 
                    ¡Realmente se preocupan por sus clientes y hacen todo 
                    lo posible para ayudar!
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="tituloTabla">LUIS VERGARA</p>
            </div>
            <div>
                <p>
                    El equipo del banco siempre ha sido muy profesional y 
                    amable en todas mis interacciones con ellos. Me siento 
                    valorado como cliente y aprecio el esfuerzo que ponen 
                    en proporcionar un excelente servicio en todo momento.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="explicacion">
    <div class="espacioImagen">
        <img src="imgs/image4.png" alt="">
    </div>
    <div>
        <p class="tituloTabla">
            Experimentación, compromiso y <br>
            valor. Es nuestra misión brindarlos <br>
            constantemente a nuestros clientes.
        </p>
    </div>
    <div>
        <p class="descripcion">
            ΚΑΙ - ARTURO DIRECTOR EJECUTIVA
        </p>
    </div>
</section>

<section class="final">
    <div class="ultimaFrase">
        <h1 class="FasePrimera">Ahorra seguro.</h1>
    </div>
    <div class="ultimaDivision">
        <p class="FaseSegunda">Dirección postal</p>
        <p class="FasePrimera">
            Lalala 123 <br>
            Deltamacuro
        </p>
    </div>
    <div class="ultimaDivision">
        <p class="FaseSegunda">Dirección de correo electrónico</p>
        <p class="FasePrimera">bbanco@bbanco.com</p>
    </div>
    <div class="ultimaDivision">
        <p class="FaseSegunda">Número telefónico</p>
        <p class="FasePrimera">12346789</p>
    </div>
</section>